{% extends "layout.html" %}

{% block content %}
<div class="col-md-6 col-md-offset-3">
    <h1>Todo:</h1>
    <table class="table table-striped">
        <th>#</th>
        <th>User</th>
        <th>Description</th>
        <th>Done</th>
        <th></th>
        <th></th>
        <tr>
            <td>{{ todo.id }}</td>
            <td>{{ todo.user_id }}</td>
            <td>{{ todo.description }}</td>
            <td>
                {% if todo.done %}
                <a id='mark-done-{{ todo.id }}' value="{{ todo.id }}" class="btn btn-xs btn-success glyphicon glyphicon-ok" done=true></a>
                {% else %}
                <a id='mark-done-{{ todo.id }}' value="{{ todo.id }}" class="btn btn-xs btn-info glyphicon glyphicon-minus" done=false></a>
                {% endif %}
              </a>
            </td>
            <td></td>
            <td>
                <form method="post" action="{{ url_for('todo_delete', id=todo.id) }}">
                    <button type="submit" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove glyphicon-white"></span></button>
                </form>
            </td>
        </tr>
    </table>
</div>

{% endblock %}