{% extends "layout.html" %}

{% block content %}
<div class="col-md-6 col-md-offset-3">
    <h1>Todo List:</h1>
    <table class="table table-striped">
        <th>#</th>
        <th>User</th>
        <th>Description</th>
        <th>Done</th>
        <th></th>
        <tr>
        {% for todo in todos %}
            <tr>
                <td>{{ todo.id }}</td>
                <td>{{ todo.user_id }}</td>
                <td>
                    <a href="{{ url_for('todo', id=todo.id) }}">
                       {{ todo.description }}
                    </a>
                </td>
                <td>
                    {% if todo.done %}
                    <a id='mark-done-{{ todo.id }}' value="{{ todo.id }}" class="btn btn-xs btn-success glyphicon glyphicon-ok" done=true></a>
                    {% else %}
                    <a id='mark-done-{{ todo.id }}' value="{{ todo.id }}" class="btn btn-xs btn-info glyphicon glyphicon-minus" done=false></a>
                    {% endif %}
                  </a>
                </td>
                <td>
                    <form method="post" action="{{ url_for('todo_delete', id=todo.id) }}">
                      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <button type="submit" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove glyphicon-white"></span></button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <form method="post" action="{{ url_for('todos_POST') }}">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <td colspan="3">
                    <input type="textbox" name="description" class="small-6 small-center" placeholder="Description...">
                </td>
                <td></td>
                <td>
                    <button type="submit" class="btn btn-sm btn-primary">Add</button>
                </td>
                <td>
                </td>
            </form>
        </tr>
    </table>
    <p><small>{{ page_items[0] }} - {{ page_items[1] }} of {{ pagination.total }}</small></p>
    <ul class="pagination">
      {% for page in  pagination.pages %}
        {% if page == current_page %}
          <li class="active"><a href="/todo?page={{ page }}">{{ page }}</a></li>
        {% else %}
          <li><a href="/todo?page={{ page }}">{{ page }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
    <ul class="pagination">
    </ul>
    <div id="form-alert" hidden=true class="alert alert-danger alert-dismissible" role="alert">
      A Todo must have a description!
    </div>
</div>
{% endblock %}
